<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 03 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ |ğŸ‘ˆ|
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ ||
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ ||
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

<div style="border: 1px solid black; padding: 10px;">

- ì´ 2ë‹¨ê³„ ë°ì´í„° ë¶„ì„ ìƒí™© ì œì‹œ
    - ì´ì  100ì 
<br></br>
- 1ë‹¨ê³„ DataFrame ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬
- 2ë‹¨ê³„ DataFrame ê°€ê³µí•˜ê¸°

### Data ì›ë³¸ ì¶œì²˜

##### Target Data(CSV): ì—­ëŒ€(1976-2008) í•˜ê³„ ì˜¬ë¦¼í”½ ë©”ë‹¬ë¦¬ìŠ¤íŠ¸ì— ëŒ€í•œ ì •ë³´
- Source: [Kaggle](https://www.kaggle.com/datasets/divyansh22/summer-olympics-medals)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/divyansh22/summer-olympics-medals/download)

##### ì°¸ê³ ì‚¬í•­: **í•´ë‹¹ ë°ì´í„° ë¶„ì„ì‹œ í•œê³„ì **
- í•´ë‹¹ ë°ì´í„°ëŠ” ê³µì‹ ë°ì´í„°([êµ­ì œìŠ¤í¬ì¸ ì •ë³´ì„¼í„°](https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1))ì™€ ì°¨ì´ê°€ ìˆìŒ.
    - ëŒ€í•œë¯¼êµ­ ë°ì´í„° ëˆ„ë½ì˜ˆì‹œ: 2008ë…„ ë² ì´ì§•ì˜¬ë¦¼í”½ ì—­ë„ 48kg ì€ë©”ë‹¬ ì„ì •í™” ëˆ„ë½
<br></br>
- ë³µì‹/ë‹¨ì²´ ì¢…ëª©ì˜ ê²½ìš° í•œ ì¢…ëª©ì—ì„œ ì—¬ëŸ¬ëª…ì´ ë©”ë‹¬ì„ íšë“í•˜ì§€ë§Œ, êµ­ê°€ ìˆœìœ„ ì§‘ê³„ì‹œ 1ê°œë¡œ ì§‘ê³„ë¨
    - ë™ì¼ ì¢…ëª©ì¸ ê²½ìš° 1ê°œë¡œ ê³„ì‚°í•˜ëŠ” ê²ƒì´ ìš©ì´
<br></br>
    - ë‹¨, 3,4ìœ„ ëª¨ë‘ì— ë™ë©”ë‹¬ì„ ì£¼ëŠ” ê²½ìš° í•œ ë‚˜ë¼ì—ì„œ ë™ë©”ë‹¬ 2ê°œ íšë“ì‹œ ë¬¸ì œ ë°œìƒ
        - ëŒ€í•œë¯¼êµ­ ì‚¬ë¡€: 1992ë…„ ë°”ë¥´ì…€ë¡œë‚˜ ì˜¬ë¦¼í”½ ì‹¤ì œ íƒêµ¬ ë‚¨ì„±ë³µì‹ 2íŒ€ ì¤€ê²°ìŠ¹ ì§„ì¶œë¡œ ë° íŒ¨ë°°ë¡œ ë™ë©”ë‹¬ 2ê°œ íšë“
            - ë‹¹ì‹œ ì¤€ê²°ìŠ¹ ì§„ì¶œì‹œ ë™ë©”ë‹¬ ìˆ˜ì—¬, ì´ 4ëª…
            - -> ì´ ìë£Œì—ì„œëŠ” ëˆ„ê°€ ëˆ„êµ¬ì™€ ë³µì‹ì¡°ë¥¼ ì´ë¤˜ëŠ”ì§€ êµ¬ë¶„í•  ìˆ˜ ì—†ìœ¼ë©° ë™ì¼ì¢…ëª©ì´ë¯€ë¡œ ì´ ìë£Œë¡œ êµ­ê°€ ìˆœìœ„ ì§‘ê³„ì‹œ ë¬¸ì œ ë°œìƒ
            - ì°¸ê³ : í˜„ì¬ ì˜¬ë¦¼í”½ íƒêµ¬ ë³µì‹ 4ìœ„ì—ê²ŒëŠ” ë™ë©”ë‹¬ì„ ìˆ˜ì—¬í•˜ì§€ ì•ŠìŒ
<br></br>
- ì˜¬ë¦¼í”½ ë©”ë‹¬ ì·¨ì†Œ ë“± ë°˜ì˜ ì•ˆë˜ì–´ìˆìŒ
<br></br>
- ë³µì‹/ë‹¨ì²´ ì¢…ëª©ì˜ ì„ ìˆ˜ ìˆ˜, ë‹¹ì‹œ ë©”ë‹¬ ìˆ˜ì—¬ ë£°, ë©”ë‹¬ ì·¨ì†Œ ë° ìŠ¹ê²©/ìŠ¹ê³„ ë“±ì˜ ì‹¤ì œ ë©”íƒ€ë°ì´í„°ê°€ ì—†ì´ëŠ” í™•ì¸ ì–´ë ¤ì›€
<br></br>
-  **ì´ëŸ¬í•œ ì´ìœ ë¡œ í•´ë‹¹ ìë£Œ ìì²´ë§Œìœ¼ë¡œ Test ì§„í–‰ í•  ì˜ˆì •ì´ë©°, êµ­ê°€ë³„ ë©”ë‹¬ ì§‘ê³„ì‹œ ë™ì¼ì¢…ëª©ë‹¹ 1ê°œì˜ ë©”ë‹¬ë¡œ ê³„ì‚°**

</div>

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: Load Data & Preprocessing
***

### 3-1. Load Target Data

### ë¬¸ì œ 1-1) Target Data ê°€ì ¸ì˜¤ê¸° (10ì )
- ìœ„ì— ì œì‹œëœ ë§í¬ í˜¹ì€ datas í´ë”ì— ìˆëŠ” ë°ì´í„°(Summer-Olympic-medals-1976-to-2008.csv)ë¥¼ Pandas DataFrameìœ¼ë¡œ ì½ì–´ ì˜¤ì„¸ìš”.
<br></br>
    - ì°¸ê³ : ì•„ë˜ì™€ ê°™ì´ ì½ì–´ì˜¬ ê²½ìš° ì—ëŸ¬ê°€ ë°œìƒí•©ë‹ˆë‹¤.
<br></br>
    <img src="images/03-1-1-001.png" style="margin:auto" width=800/>
<br></br>
    - hint1: ì—ëŸ¬ ë©”ì‹œì§€ë¥¼ í™•ì¸í•˜ì„¸ìš”.
<br></br>
    - hint2: í•´ë‹¹ ë°ì´í„°ëŠ” ì˜ì–´ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [110]:
# 1-1
import pandas as pd
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

df_target = pd.read_csv('./datas/Summer-Olympic-medals-1976-to-2008.csv',encoding_errors='ignore')
check_01_01(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 45 / 100

In [111]:
pip install chardet

Requirement already satisfied: chardet in c:\users\solbi\miniconda3\envs\ds_study\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [112]:
import chardet

with open('./datas/Summer-Olympic-medals-1976-to-2008.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [113]:
df_target = pd.read_csv('./datas/Summer-Olympic-medals-1976-to-2008.csv',encoding='ISO-8859-1')
check_01_01(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 45 / 100

1ë²ˆë¬¸ì œ ì°¸ê³ ë§í¬ | https://gmnam.tistory.com/291

In [114]:
df_target

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÃ–HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

### ë¬¸ì œ 1-2) Preprocessing: missing data ì²˜ë¦¬ (10ì )
- 1-1ì—ì„œ ì½ì€ Dataì—ëŠ” missing dataê°€ ìˆìŠµë‹ˆë‹¤. missing dataë¥¼ í™•ì¸í•˜ê³  ì²˜ë¦¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: missing dataê°€ ìˆë‹¤ë©´, í•´ë‹¹ row(í–‰)ë¥¼ ì‚­ì œ(drop)í•˜ì„¸ìš”
    - ì¡°ê±´2: Indexë¥¼ ì´ˆê¸°í™”(reset)í•˜ê³ , ê¸°ì¡´ IndexëŠ” ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [115]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

In [116]:
df_target['City'].unique()

array(['Montreal', nan, 'Moscow', 'Los Angeles', 'Seoul', 'Barcelona',
       'Atlanta', 'Sydney', 'Athens', 'Beijing'], dtype=object)

In [117]:
df_target = df_target[df_target['City'].notnull()]

In [118]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15316 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.4+ MB

In [119]:
# 1-2

check_01_02(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 45 / 100

In [120]:
df_target

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÃ–HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

### ë¬¸ì œ 1-3) Preprocessing: Data Type ì •ë¦¬ (10ì )
- 1-2ì—ì„œ ë§Œë“  DataFrameì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë”°ë¼ ë°ì´í„°ì˜ íƒ€ì…ì„ í™•ì¸í•˜ê³  ë³€ê²½í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: float dataëŠ” intë¡œ ë³€ê²½í•´ì£¼ì„¸ìš”.
    - ì¡°ê±´2: float dataì™¸ì˜ ëª¨ë“  ë°ì´í„°ê°€ string ì¸ì§€ í™•ì¸í•´ì£¼ì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [121]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15316 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.4+ MB

In [122]:
df_target['Year'] = df_target['Year'].astype(int)

C:\Users\solbi\AppData\Local\Temp\ipykernel_9696\562242175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['Year'] = df_target['Year'].astype(int)

In [123]:
# 1-3

check_01_03(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 45 / 100

In [124]:
# ë‚˜ë¨¸ì§€ ë°ì´í„°ëŠ” ì²˜ìŒë¶€í„° string
df_target.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15316 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  int32
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: int32(1), object(10)
memory usage: 1.3+ MB

## 2ë‹¨ê³„: ì›í•˜ëŠ” Dataë¡œ ê°€ê³µí•˜ê¸°
***

### ë¬¸ì œ 2-1) 2008ë…„ ëŒ€í•œë¯¼êµ­ ë©”ë‹¬ë¦¬ìŠ¤íŠ¸ ì°¾ê¸° (15ì )
- ë¬¸ì œ 1ì—ì„œ ë§Œë“  DataFrameì„ ì´ìš©í•˜ì—¬ 2008ë…„ ë² ì´ì§• ì˜¬ë¦¼í”½ ì–‘ê¶ ì¢…ëª©ì—ì„œ ê¸ˆë©”ë‹¬ì„ íšë“í•œ ì„ ìˆ˜ë“¤ì„ ì°¾ì•„ë³´ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 2008ë…„ ë² ì´ì§• ì˜¬ë¦¼í”½ ì–‘ê¶ ì¢…ëª©ì˜ ê¸ˆë©”ë‹¬ë¦¬ìŠ¤íŠ¸ë§Œ ìˆëŠ” DataFrameì„ ë§Œë“¤ì–´ ì£¼ì„¸ìš”
        - ì˜ˆì‹œ: 1992ë…„ ë°”ë¥´ì…€ë¡œë‚˜ ì˜¬ë¦¼í”½ ì–‘ê¶ ê¸ˆë©”ë‹¬ë¦¬ìŠ¤íŠ¸ DataFrame
        <img src="images/03-2-1-001.png" style="margin:auto" width=800/>
    - ì°¸ê³ : ì¶”í›„ ë¬¸ì œí’€ì´ì‹œ ë¬¸ì œ ì—†ê²Œ í•˜ê¸° ìœ„í•´ì„œ í˜„ì¬ë°ì´í„°ë¥¼ deep copyí•˜ì—¬ ì§„í–‰í•˜ì‹œëŠ” ê²ƒì„ ì¶”ì²œë“œë¦½ë‹ˆë‹¤.
        - í•˜ì§€ ì•Šì•„ë„ ë¬¸ì œëŠ” ì—†ìœ¼ë‚˜ ì½”ë“œ ì‘ì„± ë°©ë²•ì— ë”°ë¼ ë‹¤ìŒ ë¬¸ì œ í’€ì´ì‹œ ë‹¤ì‹œ loadí•˜ê³  ì „ì²˜ë¦¬ ì§„í–‰í•´ì•¼ í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [125]:
import copy

df_copy = df_target.copy()
df_copy

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÃ–HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [126]:
df_copy["Discipline"].unique()

array(['Diving', 'Swimming', 'Water polo', 'Archery', 'Athletics',
       'Basketball', 'Boxing', 'Canoe / Kayak F', 'Cycling Road',
       'Cycling Track', 'Dressage', 'Eventing', 'Jumping', 'Fencing',
       'Football', 'Artistic G.', 'Handball', 'Hockey', 'Judo',
       'Modern Pentath.', 'Rowing', 'Sailing', 'Shooting', 'Volleyball',
       'Weightlifting', 'Wrestling Free.', 'Wrestling Gre-R',
       'Synchronized S.', 'Rhythmic G.', 'Table Tennis', 'Tennis',
       'Badminton', 'Baseball', 'Canoe / Kayak S', 'Mountain Bike',
       'Softball', 'Beach volley.', 'Trampoline', 'Taekwondo',
       'Triathlon', 'BMX'], dtype=object)

In [127]:
df_copy[df_copy["Medal"] == 'Gold' ]

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
6,Montreal,1976,Aquatics,Diving,10m platform,"VAYTSEKHOVSKAYA, Elena",Women,URS,Soviet Union,W,Gold
8,Montreal,1976,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,Gold
11,Montreal,1976,Aquatics,Diving,3m springboard,"CHANDLER, Jennifer Kay",Women,USA,United States,W,Gold
12,Montreal,1976,Aquatics,Swimming,4x100m freestyle relay,"BABASHOFF, Shirley Farber",Women,USA,United States,W,Gold
...,...,...,...,...,...,...,...,...,...,...,...
15422,Beijing,2008,Wrestling,Wrestling Gre-R,- 55kg,"MANKIEV, Nazyr",Men,RUS,Russia,M,Gold
15423,Beijing,2008,Wrestling,Wrestling Gre-R,74 - 84kg,"MINGUZZI, Andrea",Men,ITA,Italy,M,Gold
15429,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15431,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [128]:
# 2008 ë² ì´ì§• ì–‘ê¶ ê¸ˆë©”ë‹¬ + ëŒ€í•œë¯¼êµ­
df_archery = df_copy.loc[(df_copy["Medal"] == 'Gold')].loc[(df_copy["Sport"] == "Archery")].loc[(df_copy["City"] == "Beijing")].loc[(df_copy["Year"] == 2008)].loc[(df_copy["Country"] == "Korea, South")]

In [129]:
# 2-1

check_02_01(df_archery)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 45 / 100

In [130]:
df_archery

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
13739,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"YUN, Ok-Hee",Women,KOR,"Korea, South",W,Gold
13753,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"JOO, Hyun-Jung",Women,KOR,"Korea, South",W,Gold
13754,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"LEE, Chang-Hwan",Men,KOR,"Korea, South",M,Gold
13756,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"IM, Dong-Hyun",Men,KOR,"Korea, South",M,Gold
13757,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"PARK, Kyung-Mo",Men,KOR,"Korea, South",M,Gold
13761,Beijing,2008,Archery,Archery,team (FITA Olympic round - 70m),"PARK, Sung-Hyun",Women,KOR,"Korea, South",W,Gold

### ë¬¸ì œ 2-2) ëŒ€í•œë¯¼êµ­ ì—­ëŒ€(1976-2008) í•˜ê³„ ì˜¬ë¦¼í”½ ë©”ë‹¬ íšë“ ë‚´ì—­ í™•ì¸(15ì )
- ë¬¸ì œ 1ì—ì„œ ë§Œë“  DataFrameê³¼ Pandas ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œì™€ ê°™ì€ í˜•íƒœì˜ ëŒ€í•œë¯¼êµ­ ì—­ëŒ€ ë©”ë‹¬ íšë“ ë‚´ì—­ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: IndexëŠ” Year - Medalë¡œ ë³´ì—¬ì£¼ì„¸ìš”(ì•„ë˜ ì˜ˆì‹œ ì°¸ê³ )
<br></br>
    - ì¡°ê±´2: Indexì—ì„œ YearëŠ” ë‚´ë¦¼ì°¨ìˆœ, Medalì€ Gold-Silver-Bronze ìˆœìœ¼ë¡œ ë³´ì—¬ì£¼ì„¸ìš”(ì•„ë˜ ì˜ˆì‹œ ì°¸ê³ )
<br></br>
        - ì˜ˆì‹œ: ë¯¸êµ­ì˜ ì—­ëŒ€ ë©”ë‹¬ íšë“ ë‚´ì—­
<br></br>
        <img src="images/03-2-2-001.png" style="margin:right" width=150/>
<br></br>
<br></br>
    - hint1: ì•ì„œ ì´ì•¼ê¸° í•œ ë°”ì™€ ê°™ì´, ë©”ë‹¬ ìˆ«ìëŠ” ë³µì‹/ë‹¨ì²´ ì¢…ëª©ì„ ê°ì•ˆí•˜ì—¬ ì„ ìˆ˜ëª…(Athlete)ê³¼ ì„±ë³„(Gender)ë¥¼ ì œì™¸í•œ ë‚´ìš©ì´ ì¼ì¹˜í•  ê²½ìš° ê°™ì€ ê²½ê¸°ì—ì„œ íšë“í•œ ë©”ë‹¬ë¡œ ê°„ì£¼í•˜ì‹œë©´ ë©ë‹ˆë‹¤.
<br></br>
    - hint2: ë‚´ìš©ì´ ì¼ì¹˜í•˜ëŠ” ë°ì´í„°ë¥¼ ì‚­ì œí•˜ê¸° ìœ„í•œ ë°©ë²•ì€ drop_duplicate, groupby, pivot_table ë“± ë‹¤ì–‘í•œ ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
<br></br>
    - hint3: Medal Indexì˜ ì •ë ¬ ìˆœì„œë¥¼ 'Gold'-'Silver'-'Bronze'ë¡œ í•˜ê¸° ìœ„í•´ì„œ sort_indexì˜ 'key' argumentì— dictionaryë¥¼ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
        - ì´ ì™¸ì— sort_indexì˜ ë‹¤ë¥¸ argumentsë„ í™•ì¸í•´ ë³´ì„¸ìš”
<br></br>
<br></br>
    - ì°¸ê³ 1: ì˜ˆì‹œì™€ ê°™ì´ ì»¬ëŸ¼ëª…ì€ City ë“± ì•„ë¬´ ì»¬ëŸ¼ëª…ì´ë“  ìƒê´€ ì—†ìŠµë‹ˆë‹¤. í•˜ë‚˜ì˜ ì»¬ëŸ¼ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
    - ì°¸ê³ 2: ì¶”í›„ ë¬¸ì œí’€ì´ì‹œ ë¬¸ì œ ì—†ê²Œ í•˜ê¸° ìœ„í•´ì„œ í˜„ì¬ë°ì´í„°ë¥¼ deep copyí•˜ì—¬ ì§„í–‰í•˜ì‹œëŠ” ê²ƒì„ ì¶”ì²œë“œë¦½ë‹ˆë‹¤.
        - í•˜ì§€ ì•Šì•„ë„ ë¬¸ì œëŠ” ì—†ìœ¼ë‚˜ ì½”ë“œ ì‘ì„± ë°©ë²•ì— ë”°ë¼ ë‹¤ìŒ ë¬¸ì œ í’€ì´ì‹œ ë‹¤ì‹œ loadí•˜ê³  ì „ì²˜ë¦¬ ì§„í–‰í•´ì•¼ í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
<br></br>
    - ì°¸ê³ 3: ëŒ€í•œë¯¼êµ­ì€ 1980ë…„ ëª¨ìŠ¤í¬ë°” ì˜¬ë¦¼í”½ì— ì°¸ê°€í•˜ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [144]:
df_kor = df_copy.loc[(df_copy["Country"]== "Korea, South")]
df_kor = df_kor.drop_duplicates(["City","Year","Sport","Discipline","Event","Country_Code","Country","Event_gender","Medal"])

In [145]:
df_kor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 1018 to 15425
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          202 non-null    object
 1   Year          202 non-null    int32
 2   Sport         202 non-null    object
 3   Discipline    202 non-null    object
 4   Event         202 non-null    object
 5   Athlete       202 non-null    object
 6   Gender        202 non-null    object
 7   Country_Code  202 non-null    object
 8   Country       202 non-null    object
 9   Event_gender  202 non-null    object
 10  Medal         202 non-null    object
dtypes: int32(1), object(10)
memory usage: 18.1+ KB

In [146]:
medal = ['Gold','Silver','Bronze']
df_kor.sort_values(by=["Medal"],inplace=True ,key=lambda x: x.map({ k: i for i, k in enumerate(medal)}))
df_kor

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
5147,Seoul,1988,Handball,Handball,handball,"HAN, Hyun-Sook",Women,KOR,"Korea, South",W,Gold
13371,Athens,2004,Wrestling,Wrestling Gre-R,55 - 60kg,"JUNG, Ji-Hyun",Men,KOR,"Korea, South",M,Gold
8871,Atlanta,1996,Judo,Judo,81 - 90kg (middleweight),"JEON, Ki-Young",Men,KOR,"Korea, South",M,Gold
10353,Sydney,2000,Fencing,Fencing,foil individual,"KIM, Young Ho",Men,KOR,"Korea, South",M,Gold
5762,Seoul,1988,Wrestling,Wrestling Free.,74 - 82kg (middleweight),"HAN, Myung-Woo",Men,KOR,"Korea, South",M,Gold
...,...,...,...,...,...,...,...,...,...,...,...
7312,Barcelona,1992,Table Tennis,Table Tennis,doubles,"HYUN, Jung Hwa",Women,KOR,"Korea, South",W,Bronze
7311,Barcelona,1992,Table Tennis,Table Tennis,singles,"KIM, Taek Soo",Men,KOR,"Korea, South",M,Bronze
7012,Barcelona,1992,Judo,Judo,65 - 71kg (lightweight),"CHUNG, Hoon",Men,KOR,"Korea, South",M,Bronze
9179,Atlanta,1996,Table Tennis,Table Tennis,doubles,"YOO, Nam-Kyu",Men,KOR,"Korea, South",M,Bronze
15425,Beijing,2008,Wrestling,Wrestling Gre-R,- 55kg,"PARK, Eun-Chul",Men,KOR,"Korea, South",M,Bronze

In [135]:
df_kor["Year"]

1372     1976
3004     1984
3246     1984
3850     1984
3851     1984
         ...
14624    2008
14848    2008
15156    2008
15160    2008
15425    2008
Name: Year, Length: 202, dtype: int32

In [149]:
df_kor.sort_values(by=["Medal"],inplace=True ,key=lambda x: x.map({ k: i for i, k in enumerate(medal)}))

In [150]:


df_kor = df_kor.pivot_table("City",index=["Year","Medal"], aggfunc="count")

In [155]:
df_kor.sort_index(level=["Year","Medal"],ascending=[True,True],key=lambda x: x.map({ k: i for i, k in enumerate(medal)}))

             City
Year Medal
1976 Gold       1
1984 Gold       6
1988 Gold      12
1992 Gold      12
1996 Gold       7
2000 Gold       8
2004 Gold       9
2008 Gold      13
1976 Silver     1
1984 Silver     6
1988 Silver    10
1992 Silver     5
1996 Silver    15
2000 Silver    10
2004 Silver    12
2008 Silver    10
1976 Bronze     4
1984 Bronze     7
1988 Bronze    11
1992 Bronze    11
1996 Bronze     5
2000 Bronze    10
2004 Bronze     9
2008 Bronze     8

In [156]:
df_kor.sort_index(level=["Year"],ascending=True)

             City
Year Medal
1976 Bronze     4
     Gold       1
     Silver     1
1984 Bronze     7
     Gold       6
     Silver     6
1988 Bronze    11
     Gold      12
     Silver    10
1992 Bronze    11
     Gold      12
     Silver     5
1996 Bronze     5
     Gold       7
     Silver    15
2000 Bronze    10
     Gold       8
     Silver    10
2004 Bronze     9
     Gold       9
     Silver    12
2008 Bronze     8
     Gold      13
     Silver    10

In [161]:
df_kor = df_kor.reindex(["Gold","Silver","Bronze"],level=1)

In [162]:
df_kor

             City
Year Medal
1976 Gold       1
     Silver     1
     Bronze     4
1984 Gold       6
     Silver     6
     Bronze     7
1988 Gold      12
     Silver    10
     Bronze    11
1992 Gold      12
     Silver     5
     Bronze    11
1996 Gold       7
     Silver    15
     Bronze     5
2000 Gold       8
     Silver    10
     Bronze    10
2004 Gold       9
     Silver    12
     Bronze     9
2008 Gold      13
     Silver    10
     Bronze     8

In [163]:
# 2-2

check_02_02(df_kor)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

In [164]:
df_kor

             City
Year Medal
1976 Gold       1
     Silver     1
     Bronze     4
1984 Gold       6
     Silver     6
     Bronze     7
1988 Gold      12
     Silver    10
     Bronze    11
1992 Gold      12
     Silver     5
     Bronze    11
1996 Gold       7
     Silver    15
     Bronze     5
2000 Gold       8
     Silver    10
     Bronze    10
2004 Gold       9
     Silver    12
     Bronze     9
2008 Gold      13
     Silver    10
     Bronze     8

### ë¬¸ì œ 2-3) 1996ë…„ ì• í‹€ë€íƒ€ ì˜¬ë¦¼í”½ ì´ ë©”ë‹¬ ê°œìˆ˜ ê¸°ì¤€ ìƒìœ„ 10ê°œ êµ­ê°€ í™•ì¸í•˜ê¸°(20ì )
- ë¬¸ì œ 1ì—ì„œ ë§Œë“  DataFrameê³¼ Pandas ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œì™€ ê°™ì€ í˜•íƒœì˜ **ì´** ë©”ë‹¬ ê°œìˆ˜ ê¸°ì¤€ ìƒìœ„ 10ê°œêµ­ ë‚´ì—­ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: IndexëŠ” ì•ì„  1ë‹¨ê³„ì—ì„œ Preprocessingí•œ Dataì˜ Index ê·¸ëŒ€ë¡œ ë‚˜ë‘ì–´ ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì´ ë©”ë‹¬ ê°œìˆ˜ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ í›„ ìƒìœ„ 10ê°œ êµ­ê°€ë§Œ ë‚˜íƒ€ë‚´ëŠ” DataFrameì„ ë§Œë“œì„¸ìš”.
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ Columnsì€ ['Country', 'Medal'] ì…ë‹ˆë‹¤.
<br></br>
        - ì˜ˆì‹œ: 1992ë…„ ë°”ë¥´ì…€ë¡œë‚˜ ì˜¬ë¦¼í”½ ì´ ë©”ë‹¬ ê°œìˆ˜ì— ë”°ë¥¸ ìƒìœ„ 10ê°œ êµ­ê°€
<br></br>
        <img src="images/03-2-3-001.png" style="margin:right" width=200/>
<br></br>
<br></br>
    - hint1: ì•ì„œ ì´ì•¼ê¸° í•œ ë°”ì™€ ê°™ì´, ë©”ë‹¬ ìˆ«ìëŠ” ë³µì‹/ë‹¨ì²´ ì¢…ëª©ì„ ê°ì•ˆí•˜ì—¬ ì„ ìˆ˜ëª…(Athlete)ê³¼ ì„±ë³„(Gender)ë¥¼ ì œì™¸í•œ ë‚´ìš©ì´ ì¼ì¹˜í•  ê²½ìš° ê°™ì€ ê²½ê¸°ì—ì„œ íšë“í•œ ë©”ë‹¬ë¡œ ê°„ì£¼í•˜ì‹œë©´ ë©ë‹ˆë‹¤.
<br></br>
    - hint2: ë‚´ìš©ì´ ì¼ì¹˜í•˜ëŠ” ë°ì´í„°ë¥¼ ì‚­ì œí•˜ê¸° ìœ„í•œ ë°©ë²•ì€ drop_duplicate, groupby, pivot_table ë“± ë‹¤ì–‘í•œ ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
<br></br>
    - hint3: Groupby, Pivot_table ë“±ì˜ ê¸°ëŠ¥ì„ í™œìš©í•˜ëŠ” ê²½ìš° 'as_index' í˜¹ì€ 'index'ì™€ ê°™ì€ argumentë¥¼ í™œìš©í•˜ì„¸ìš”
<br></br>
<br></br>
    - ì°¸ê³ : ì¶”í›„ ë¬¸ì œí’€ì´ì‹œ ë¬¸ì œ ì—†ê²Œ í•˜ê¸° ìœ„í•´ì„œ í˜„ì¬ë°ì´í„°ë¥¼ deep copyí•˜ì—¬ ì§„í–‰í•˜ì‹œëŠ” ê²ƒì„ ì¶”ì²œë“œë¦½ë‹ˆë‹¤.
        - í•˜ì§€ ì•Šì•„ë„ ë¬¸ì œëŠ” ì—†ìœ¼ë‚˜ ì½”ë“œ ì‘ì„± ë°©ë²•ì— ë”°ë¼ ë‹¤ìŒ ë¬¸ì œ í’€ì´ì‹œ ë‹¤ì‹œ loadí•˜ê³  ì „ì²˜ë¦¬ ì§„í–‰í•´ì•¼ í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [221]:
df_copy = df_target.copy()
df_copy

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÃ–HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [222]:
df_copy["City"].unique()

array(['Montreal', 'Moscow', 'Los Angeles', 'Seoul', 'Barcelona',
       'Atlanta', 'Sydney', 'Athens', 'Beijing'], dtype=object)

In [223]:
df_copy = df_copy.loc[(df_copy["City"]== "Atlanta")].loc[(df_copy["Year"] == 1996)]
df_copy

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
7519,Atlanta,1996,Aquatics,Diving,3m springboard,"YU, Zhuocheng",Men,CHN,China,M,Silver
7520,Atlanta,1996,Aquatics,Diving,3m springboard,"XIONG, Ni",Men,CHN,China,M,Gold
7521,Atlanta,1996,Aquatics,Diving,10m platform,"HEMPEL, Jan",Men,GER,Germany,M,Silver
7522,Atlanta,1996,Aquatics,Diving,10m platform,"CLARK, Mary Ellen",Women,USA,United States,W,Bronze
7523,Atlanta,1996,Aquatics,Diving,3m springboard,"LASHKO, Irina",Women,RUS,Russia,W,Silver
...,...,...,...,...,...,...,...,...,...,...,...
9373,Atlanta,1996,Wrestling,Wrestling Gre-R,62 - 68kg (lightweight),"YOLOUZ, Ghani",Men,FRA,France,M,Silver
9374,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASCUY AGUILERA, Feliberto",Men,CUB,Cuba,M,Gold
9375,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"TRACZ, Jozef",Men,POL,Poland,M,Bronze
9376,Atlanta,1996,Wrestling,Wrestling Gre-R,48 - 52kg (flyweight),"PAULSON, Brandon",Men,USA,United States,M,Silver
9377,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASELL, Marko",Men,FIN,Finland,M,Silver

In [224]:
df_copy = df_copy.drop_duplicates(["City","Year","Sport","Discipline","Event","Country_Code","Country","Event_gender","Medal"])
df_copy

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
7519,Atlanta,1996,Aquatics,Diving,3m springboard,"YU, Zhuocheng",Men,CHN,China,M,Silver
7520,Atlanta,1996,Aquatics,Diving,3m springboard,"XIONG, Ni",Men,CHN,China,M,Gold
7521,Atlanta,1996,Aquatics,Diving,10m platform,"HEMPEL, Jan",Men,GER,Germany,M,Silver
7522,Atlanta,1996,Aquatics,Diving,10m platform,"CLARK, Mary Ellen",Women,USA,United States,W,Bronze
7523,Atlanta,1996,Aquatics,Diving,3m springboard,"LASHKO, Irina",Women,RUS,Russia,W,Silver
...,...,...,...,...,...,...,...,...,...,...,...
9373,Atlanta,1996,Wrestling,Wrestling Gre-R,62 - 68kg (lightweight),"YOLOUZ, Ghani",Men,FRA,France,M,Silver
9374,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASCUY AGUILERA, Feliberto",Men,CUB,Cuba,M,Gold
9375,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"TRACZ, Jozef",Men,POL,Poland,M,Bronze
9376,Atlanta,1996,Wrestling,Wrestling Gre-R,48 - 52kg (flyweight),"PAULSON, Brandon",Men,USA,United States,M,Silver
9377,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASELL, Marko",Men,FIN,Finland,M,Silver

In [225]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 841 entries, 7519 to 9377
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          841 non-null    object
 1   Year          841 non-null    int32
 2   Sport         841 non-null    object
 3   Discipline    841 non-null    object
 4   Event         841 non-null    object
 5   Athlete       841 non-null    object
 6   Gender        841 non-null    object
 7   Country_Code  841 non-null    object
 8   Country       841 non-null    object
 9   Event_gender  841 non-null    object
 10  Medal         841 non-null    object
dtypes: int32(1), object(10)
memory usage: 75.6+ KB

In [226]:
df_copy[['Country', 'Medal']].groupby('Country',as_index=False).count().sort_values(by="Medal",ascending=False)

          Country  Medal
75  United States    101
24        Germany     65
58         Russia     63
13          China     50
3       Australia     41
..            ...    ...
43         Mexico      1
32         Israel      1
26     Hong Kong*      1
28          India      1
78         Zambia      1

[79 rows x 2 columns]

In [227]:
df_rank_10 = df_copy[['Country', 'Medal']].groupby('Country',as_index=False).count().sort_values(by="Medal",ascending=False).head(10)

In [228]:
df_rank_10

          Country  Medal
75  United States    101
24        Germany     65
58         Russia     63
13          China     50
3       Australia     41
22         France     37
33          Italy     35
39   Korea, South     27
16           Cuba     25
73        Ukraine     23

In [229]:
# 2-3

check_02_03(df_rank_10)

ì •ë‹µì…ë‹ˆë‹¤! 20ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 80 / 100

In [230]:
df_rank_10.count()

Country    10
Medal      10
dtype: int64

In [231]:
df_rank_10

          Country  Medal
75  United States    101
24        Germany     65
58         Russia     63
13          China     50
3       Australia     41
22         France     37
33          Italy     35
39   Korea, South     27
16           Cuba     25
73        Ukraine     23

### ë¬¸ì œ 2-4) 1996ë…„ ì• í‹€ë€íƒ€ ì˜¬ë¦¼í”½ ê¸ˆë§¤ë‹¬ ê°œìˆ˜ ê¸°ì¤€ ìƒìœ„ 10ê°œ êµ­ê°€ í™•ì¸í•˜ê¸°(20ì )
- ë¬¸ì œ 1ì—ì„œ ë§Œë“  DataFrameê³¼ Pandas ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œì™€ ê°™ì€ í˜•íƒœì˜ **ê¸ˆ**ë©”ë‹¬ ê°œìˆ˜ ê¸°ì¤€ ìƒìœ„ 10ê°œêµ­ ë‚´ì—­ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'Gold', 'Silver', 'Bronze' ì»¬ëŸ¼ì„ ë§Œë“¤ê³ , í•´ë‹¹ Row(í–‰)ì˜ Medal ì´ Goldë©´ 'Gold' ì»¬ëŸ¼ì— 1, Silverë©´ 'Silver' ì»¬ëŸ¼ì— 1, 'Bronze'ë©´ 'Bronze'ì»¬ëŸ¼ì— 1ì„ ì…ë ¥í•˜ì„¸ìš”
        - ì¶”í›„ ì•„ë˜ ì˜ˆì‹œì™€ ê°™ì€ í˜•íƒœë¡œ DataFrameì„ ë§Œë“¤ê¸° ìœ„í•œ ì‘ì—…ì…ë‹ˆë‹¤. ì ë‹¹í•œ ìˆœì„œì— ë§ì¶”ì–´ í•´ë‹¹ ì‘ì—…ì„ í•˜ì‹œë©´ ë˜ê³ , í˜¹ì‹œ ì´ ì‘ì—…ì´ í•„ìš” ì—†ì„ ê²½ìš° ì•ˆí•˜ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: IndexëŠ” ì•ì„  1ë‹¨ê³„ì—ì„œ Preprocessingí•œ Dataì˜ Index ê·¸ëŒ€ë¡œ ë‚˜ë‘ì–´ ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: ê¸ˆë©”ë‹¬ ê°œìˆ˜ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ ìƒìœ„ 10ê°œ êµ­ê°€ë§Œ ë‚˜íƒ€ë‚´ëŠ” DataFrameì„ ë§Œë“œì„¸ìš”.
        - ë§Œì•½ ê¸ˆë©”ë‹¬ ê°œìˆ˜ê°€ ê°™ë‹¤ë©´, ì€ë©”ë‹¬ ê°œìˆ˜ê°€ ë§ì€ êµ­ê°€ê°€ ë” ë†’ì€ ìˆœìœ„ì´ë©° ì€ë©”ë‹¬ ê°œìˆ˜ë„ ê°™ë‹¤ë©´ ë™ë©”ë‹¬ ê°œìˆ˜ê°€ ë” ë§ì€ êµ­ê°€ê°€ ìƒìœ„ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´4: ê²°ê³¼ DataFrameì˜ Columnsì€ ['Country', 'Gold', 'Silver', 'Bronze'] ì…ë‹ˆë‹¤.
<br></br>
        - ì˜ˆì‹œ: 1992ë…„ ë°”ë¥´ì…€ë¡œë‚˜ ì˜¬ë¦¼í”½ ì´ ë©”ë‹¬ ê°œìˆ˜ì— ë”°ë¥¸ ìƒìœ„ 10ê°œ êµ­ê°€
<br></br>
        <img src="images/03-2-4-001.png" style="margin:right" width=300/>
<br></br>
<br></br>
    - hint1: ì•ì„œ ì´ì•¼ê¸° í•œ ë°”ì™€ ê°™ì´, ë©”ë‹¬ ìˆ«ìëŠ” ë³µì‹/ë‹¨ì²´ ì¢…ëª©ì„ ê°ì•ˆí•˜ì—¬ ì„ ìˆ˜ëª…(Athlete)ê³¼ ì„±ë³„(Gender)ë¥¼ ì œì™¸í•œ ë‚´ìš©ì´ ì¼ì¹˜í•  ê²½ìš° ê°™ì€ ê²½ê¸°ì—ì„œ íšë“í•œ ë©”ë‹¬ë¡œ ê°„ì£¼í•˜ì‹œë©´ ë©ë‹ˆë‹¤.
<br></br>
    - hint2: ë‚´ìš©ì´ ì¼ì¹˜í•˜ëŠ” ë°ì´í„°ë¥¼ ì‚­ì œí•˜ê¸° ìœ„í•œ ë°©ë²•ì€ drop_duplicate, groupby, pivot_table ë“± ë‹¤ì–‘í•œ ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
<br></br>
    - hint3: Groupby, Pivot_table ë“±ì˜ ê¸°ëŠ¥ì„ í™œìš©í•˜ëŠ” ê²½ìš° 'as_index' í˜¹ì€ 'index'ì™€ ê°™ì€ argumentë¥¼ í™œìš©í•˜ì„¸ìš”
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [236]:
df_copy["Medal"].loc[(df_copy["Medal"] == "Gold")].count()

271

In [238]:
df_copy["Gold"] = np.NaN

C:\Users\solbi\AppData\Local\Temp\ipykernel_9696\2416390823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["Gold"] = np.NaN

In [240]:
df_copy["Silver"] = np.NaN
df_copy["Bronze"] = np.NaN

C:\Users\solbi\AppData\Local\Temp\ipykernel_9696\670220875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["Silver"] = np.NaN
C:\Users\solbi\AppData\Local\Temp\ipykernel_9696\670220875.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["Bronze"] = np.NaN

In [252]:
for idx, row in df_copy.iterrows():
    if row["Medal"] == "Gold" :
        df_copy.at[idx,"Gold"] = 1
    elif row["Medal"] == "Silver" :
        df_copy.at[idx,"Silver"] = 1
    elif row["Medal"] == "Bronze" :
        df_copy.at[idx,"Bronze"] = 1

In [253]:
df_copy

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Gold,Silver,Bronze
7519,Atlanta,1996,Aquatics,Diving,3m springboard,"YU, Zhuocheng",Men,CHN,China,M,Silver,0.0,1.0,0.0
7520,Atlanta,1996,Aquatics,Diving,3m springboard,"XIONG, Ni",Men,CHN,China,M,Gold,1.0,0.0,0.0
7521,Atlanta,1996,Aquatics,Diving,10m platform,"HEMPEL, Jan",Men,GER,Germany,M,Silver,0.0,1.0,0.0
7522,Atlanta,1996,Aquatics,Diving,10m platform,"CLARK, Mary Ellen",Women,USA,United States,W,Bronze,0.0,0.0,1.0
7523,Atlanta,1996,Aquatics,Diving,3m springboard,"LASHKO, Irina",Women,RUS,Russia,W,Silver,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9373,Atlanta,1996,Wrestling,Wrestling Gre-R,62 - 68kg (lightweight),"YOLOUZ, Ghani",Men,FRA,France,M,Silver,0.0,1.0,0.0
9374,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASCUY AGUILERA, Feliberto",Men,CUB,Cuba,M,Gold,1.0,0.0,0.0
9375,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"TRACZ, Jozef",Men,POL,Poland,M,Bronze,0.0,0.0,1.0
9376,Atlanta,1996,Wrestling,Wrestling Gre-R,48 - 52kg (flyweight),"PAULSON, Brandon",Men,USA,United States,M,Silver,0.0,1.0,0.0
9377,Atlanta,1996,Wrestling,Wrestling Gre-R,68 - 74kg (welterweight),"ASELL, Marko",Men,FIN,Finland,M,Silver,0.0,1.0,0.0

In [262]:
df_copy[["Country","Gold","Silver","Bronze"]].groupby("Country",as_index=False).sum().sort_values(by=["Gold","Silver","Bronze"], ascending=[False,False,False]).head(10)

          Country  Gold  Silver  Bronze
75  United States  44.0    32.0    25.0
58         Russia  26.0    21.0    16.0
24        Germany  20.0    18.0    27.0
13          China  16.0    22.0    12.0
22         France  15.0     7.0    15.0
33          Italy  13.0    10.0    12.0
3       Australia   9.0     9.0    23.0
16           Cuba   9.0     8.0     8.0
73        Ukraine   9.0     2.0    12.0
39   Korea, South   7.0    15.0     5.0

In [263]:
df_rank_10 = df_copy[["Country","Gold","Silver","Bronze"]].groupby("Country",as_index=False).sum().sort_values(by=["Gold","Silver","Bronze"], ascending=[False,False,False]).head(10)

In [264]:
# 2-4

check_02_04(df_rank_10)

ì •ë‹µì…ë‹ˆë‹¤! 20ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

In [265]:
df_rank_10

          Country  Gold  Silver  Bronze
75  United States  44.0    32.0    25.0
58         Russia  26.0    21.0    16.0
24        Germany  20.0    18.0    27.0
13          China  16.0    22.0    12.0
22         France  15.0     7.0    15.0
33          Italy  13.0    10.0    12.0
3       Australia   9.0     9.0    23.0
16           Cuba   9.0     8.0     8.0
73        Ukraine   9.0     2.0    12.0
39   Korea, South   7.0    15.0     5.0

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA TEST 3íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.
- [DS]edalvtest_03_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.